body{
    font-family: 'Hind Siliguri', sans-serif;
    line-height:2;
    color:#444;
}
#banner{
    text-align: center;
    background:#35495E;
    color: #fff;
    font-size: 1em;
    padding:.5em 0;
}
#header{
    h1{
        text-transform: uppercase;
        font-size: 2.4rem;
        text-align: center;
        margin:2rem auto;
    }
    border-bottom:1px solid #eee;
}
.products{
    margin-bottom: 3rem;
    .product-block{
        margin:3rem 0 0 0 ;
        .product-img-block{
            position: relative;
            border-radius: 3px;
            overflow: hidden;
            text-align: center;
            button{
                position: absolute;
                top:-45%;
                margin-left:50%;
                transform: translateX(-60px);
                background:#41B883;
                border:1px solid #41B883;
                border-radius: 3px;
                line-height:1;
                padding:.5em 0;
                color:#fff;
                width:120px;
                transition: all .5s;
                
            }
            img{
                width:100%;
                height:auto;
                transition: all .5s;
            }
            &:hover{
                button{
                    top:45%;
                }
            }
        }
        .product-info-block{
            padding:1em 0px;
            h2{
                font-size: 1rem;
                margin: 0px 0px;
                font-weight:700;
                color:#444;
            }
            .price-tag{
                font-size: 1rem;
                color:#777;
            }
        }
    }
}

#sidebar{
    margin:3em 0;
    .widget{
        h2{
            text-transform: uppercase;
            font-size: 1.2rem;
            color: #444;
            margin-bottom:1em;
            border-bottom:1px solid #eee;
            padding-bottom:.5em;

        }
        .mini-cart{
            .cart-list{
                .cart-item{
                    padding: 0px 0px 1em 0px;
                    margin:0 0 1em 0;
                    border-bottom: 1px dotted #eee;
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    grid-gap:1em;
                    .mincart-img{
                        width:50px;
                        margin-right: 1em;
                        float: left;
                        img{
                            max-width: 100%;
                        }
                    }
                    .mincart-info{
                        display: grid;
                        grid-template-columns: 3fr 2fr;
                        line-height: 1.5;
                        .mincart-product-name{
                            line-height: 1em;
                            h3{
                                font-weight: 700;
                            }
                            p{
                                margin:0px;
                            }
                        }

                        .mincart-quantity{
                            input{
                                width:60px;
                                text-align: center;
                            }
                        }
                        h3{
                            margin:0px 0px;
                            font-size: 1em;
                            line-height: 2em;
                        }
                        .mincart-price{
                            font-size: 1.2em;
                        }


                    }
                    &:last-child{
                        border:none;
                        margin:0px;
                    }
                }

            }
            .cart-summary{
                border-top:1px solid #ddd;
                >div{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    border-bottom:1px solid #eee;
                    padding:5px 0px;
                    h4{
                        margin:0 0;
                        color:#333;
                        font-size: 1em;
                        line-height: 2;

                    }
                    h4.total-amount{
                        color:#000;
                        font-weight: 700;
                    }
                    input{
                        height: 2em;
                        border-radius: 3px;
                        border:none;
                        
                    }
                    span{
                        
                    }

                }
            }
            .cart-actions{
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;
                button{
                    margin:1em auto;
                    border-radius: 3px;
                    color:#fff;
                    width:100%;
                    background:#35495E;
                    border:1px solid #35495E;
                }
                button.checkout{
                    background: #41B883;
                    border:1px solid #41B883;
                }
            }
         
        }
    }
}
#footer{
    padding:2em 0;
    text-align: center;
    border-top: 1px solid #eee;
}